body{
font-family: 'Amatic SC', cursive;
color: #fff;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.logo {
	width: 300px;
	height: 200px;
	margin: 0 10px;
}
.img{
	width: 100%;
	
}
.imput {
	color: #fff;
}
.cont1 {
	margin: 40px;
}
.cont2 {
	margin: 3px;
	
}
.contr {
	margin: 400px;
}
.menu__item {
	margin: 0 57px;
	padding-top: 58px;
}
.menu__item a {
	font-size: 35px;
	font-weight: 700px;
	color: #fff;
}

.lk {
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}

.assr__item{
	font-size: 35px;
	font-weight: 700;

	color: #fff;
}
.diviz{
	margin: 20px;
	padding-top: 20px;
	font-size: 40px;
}
.q{
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}
.img1{
	width: 50%;
	height: 50%;
	margin: 0 450px;
}
.img2{
	width: 50%;
	height: 50%;
	margin: 0 450px;
}
.as__item{
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}

.ar__item a{

	margin: 40px;
	padding-top: 40px;
font-size: 60px;
	color: #fff	;
}
.likkab {
	width: 230px;
	height: 180px;
}
.allc a {
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}
.lk {
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}